
<button [routerLink]="['../add']" class="action-button shadow animate red">ADD +</button>
<ul class="cards">
  <li *ngFor="let item of stadiumData; let i = index" class="cards__item">
    <div class="card">
      <mat-card class="example-card ">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Stadium {{item.id}}</mat-card-title>
          <mat-card-subtitle>{{item.title}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{item.imgURL}}" alt="Anfield Stadium">
        <mat-card-content>
          <p>
           {{item.details}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="openModal(template,item)" mat-button class="btn btn--block card__btn">Read More</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </li>
<li>
  <router-outlet></router-outlet>
</li>
</ul>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{selectedStadium.title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{selectedStadium.moreDetails}}
  </div>
</ng-template>


